.admin-slide-bar {
  li {
    display: inline-block;
    padding: 15px;
    background: $cl_m;
    margin-right: 10px;
    position: relative;
    &.active:after {
      content: '';
      bottom: -7px;
      left: 20px;
      width: 15px;
      height: 15px;
      position: absolute;
      background: $cl_white;
      transform: rotate(45deg);
      background-color: $cl_m;
    }
    a {
      color: $cl-white;
      font-size: 14px;;
      position: relative;
      padding-left: 22px;
      &:before {
        content: '\f2be';
        font-size: 14px;
        color: currentColor;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        position: absolute;
        font-family: "FontAwesome";
      }
    }
    &:nth-child(2) a:before {
      content: '\f288';
    }
    &:nth-child(3) a:before {
      content: '\f155';
    }
  }
  
}