.admin {
  height: 800vh;
  padding: 50px 0 100px 0;
  &__sidebar {
    margin-bottom: 30px;
  }

  &__management {
    .add {
      display: block;
      margin-top: 30px;
      border-radius: 36px;
      padding: 14px 40px;
      background: transparent;
      border: 1px solid $cl_m;
      color: $cl_m;
      background-color: $cl_white;
    }
    table {
      width: 100%;
      position: relative;
      thead {
        tr {
          th {
            text-align: center;
            font-size: 14px;
            color: $cl_white;
            background-color: $cl_m;
            padding: 10px;
            border: 1px solid #ebebeb;
          }
        }
      }
      tbody {
        background-color: $cl_white;
        td {
          padding: 10px;
          vertical-align: middle;
          border: 1px solid #ebebeb;
        }
      }
    }
  }
  &__action {
    button {
      @extend.trans;
      border-radius: 36px;
      margin: 0 5px;
      font-size: 14px;
      padding: 12px 20px;
      border-radius: 0;
      color: $cl_m;
      background-color: transparent;
      &:hover {
        border-radius: 36px;
      }
    }
  }
  &__add-edit,
  &__background {
    background-color: #ebebeb;
  }
  &__frames {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 0;
    form {
      padding: 30px;
      border: 2px dashed #59b586;
      border-radius: 10px;
      background-color: $cl_white;
      input {
        font-size: 14px;
      }
    }
    &--grid {
      @include d-grid(1fr 1fr);
    }
  }
}

.product-management {
  table {
    tbody {
      td {
        &:nth-child(2) {
          width: 12%;
        }
        &:nth-child(6) {
          width: 30%;
        }
      }
    }
  }
}

.admin__content {
  table {
    tr {
      th {
        padding: 10px;
        color: $cl_white;
        background-color: $cl-m;
      }
    }
  }
}

